/* body {
  background-image: url(./pattern.png);
  background-color: ghostwhite;
}
#button-addon2 {
  background-color: rgb(73, 0, 150);
  color: aliceblue;
}
.input-group {
  flex: content;
  border: 20px solid rgb(34, 121, 57);
  border-left: 25vw solid rgb(34, 121, 57);
  border-right: 25vw solid rgb(34, 121, 57);
} */
